*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #fff;
    text-decoration: none;
    &:visited{
        color: inherit !important;
    }
}

li{
    list-style: none;
}