//colors
$white: #FFF;
$brown: #A07B50;
$brown-light: #DDD0C3;
$black-dark: #151313;
$black: #181617;
$black-light: #1F1C1D;

//fonts
$title-font: 'Yeseva One', cursive;
$text-font:  'Roboto', sans-serif;

//margin-center
$mr-center: 0 auto;

//border
$border: 0.5px solid $brown;

//transition
$standart-transition: .3s all ease-in;